* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(203, 202, 202, 0.677);

}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #D2B48C;

}

.logo img {
  width: 100px;
  margin-left: 15px;
}

.titulo {
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace
}

#navmenu {
  width: 100%;
  height: 50px;
  padding: 10px;
  text-decoration: none;
  background-color: #D2B48C;
}

.menu {
  margin: 10px;
  text-decoration: none;
}

.menu:hover {
  border-bottom: 5px solid rgb(244, 204, 27);
  border-radius: 50px;
  color: blueviolet;
  font-size: 1.50rem;
  font-family: 'Times New Roman', Times, serif;
}

.sombreado {
  width: 100%;
  height: 5px;

  box-shadow: 8px 2px 8px rgb(137, 152, 160);
}


.container {
  width: 100%;
  height: auto;
  background-color: #fef4e6;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}



.box {
  width: 200px;
  height: 35vh;
  border: 2px solid #cbcbcb;

  border-width: 10px;
  border-radius: 25px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.img1 {
  background-image: url(../img/cafecalientemenu.png);
}

.img2 {
  background-image: url(../img/Teclasicomenu.png);
}

.img3 {
  background-image: url(../img/infusionesdehierbas.png);
}

.img4 {
  background-image: url(../img/bebidasfriasmenu.png);
}

.img5 {
  background-image: url(../img/bocadillosydulcesmodernos.png);
}

.img6 {
  background-image: url(../img/postresydulcesmenu.png);
}

.linea {
  width: 100%;


}




.menu_container {
  width: 100%;


}

.box_caliente {
  width: 100%;
  height: 100vh;


}

.box_cafe {
  width: 100%;
  height: 100vh;
  margin-left: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.boton {
  width: 120px;
  height: 5vh;
}

.caja {
  width: 200px;
  height: 180px;
  margin: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;


  border: 2px solid red;


}

.img {
  width: 125px;
  height: 100px;
}



.box_te {
  height: 100vh;


  background-color: #fef4e6;
}

.box_infusiones {
  height: 100vh;

}

.box_bebidas {
  height: 100vh;
  background-color: #fef4e6;
}

.box_bocadillos {
  height: 100vh;

}

.box_postres {
  height: 100vh;
  background-color: #fef4e6;
}

footer {
  height: 10vh;
  color: white;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* Sobre nosotros*/

.navmenu {
  border: 3px solid red;
  display: flex;
  flex-direction: row;
}


#nosotros_container {
  margin: 10px;
}

#nosotros {
  width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid burlywood;
  border-radius: 25px;
  box-shadow: 10px 5px 9px rgba(102, 51, 153, 0.699);

}

.titulo {
  margin: 15px;
  text-align: center;
}

.parrafo p {
  width: 100%;
  padding: 5px;


}

#equipo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.sofia {
  width: 200px;
  height: 200px;
  border: 2px dashed red;
  border-radius: 100%;
  background-image: url(../img/Sofia.png);
  background-size: 300px;
  background-position: -30px -30px;
}

.carlos {
  width: 200px;
  height: 200px;
  border: 2px dashed red;
  border-radius: 100%;
  background-image: url(../img/Carlos.png);
  background-size: 300px;
  background-position: -50px -25px;
}

.elena {
  width: 200px;
  height: 200px;
  border: 2px dashed red;
  border-radius: 100%;
  background-image: url(../img/Elena.png);
  background-size: 300px;
  background-position: 170px 0px;
}


/* Contacto */
#container {
  width: 100%;
  background-color: #fef4e6;
  display: flex;
  justify-content: space-between;




}



.img_left img {
  width: 700px;
}

h2 {
  margin-top: 60px;
  text-align: center;
  font-size: 6em;
  color: #422411;
}

.form_derecha {
  width: 43%;

  display: flex;
  flex-direction: column;

}


@media only screen and (-webkit-min-device-pixel-ratio: 4) {
  header {

    background-image: url(../img/cabecera.png);
  }
}

@media(min-width: 350px)and (max-width:768px) {


  header {
    width: 100%;
    height: 7vh;
    gap: 5px;


  }

  .titulo {
    font-size: 1em;
    margin-right: -30;

  }

  .box {
    margin: 50px;
    margin-top: 20px;
    background-size: 250px 250px;

  }

  .box2 {
    margin: 50px;
    margin-top: 20px;
    background-size: 250px 250px;

  }

  .box3 {
    margin: 50px;
    margin-top: 20px;
    background-size: 250px 250px;

  }

  #equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
  }
}

@media(min-width:768px) and (max-width:1024px) {


  header {
    width: 100%;
    height: 7vh;


  }

  .titulo {
    font-size: 2em;
    margin-top: -20px;
  }

}